body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('g.jpg');
  background-repeat: repeat;
  background-size: 20%;
}

h1, h2 {
  color: #006a14;
}

h1 a, h2 a, ul a {
  color: #006a14;
  text-decoration: none;
}

h1 a:hover, h2 a:hover, ul a:hover {
  text-decoration: underline;
}

h2, h3 {
    font-weight: normal;
    color: #006a14;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #d9534f;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}



.project {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 55px;
}

.project-image {
    flex: 1; /* You can adjust this ratio to give more or less space to the image */
    padding-right: 20px; /* Adjust the spacing between the image and text */
}

.project-info {
    flex: 2; /* Adjust based on desired ratio of text's width to image's width */
}

.project img {
    max-width: 100%;
    height: auto;
    border: none;
}


.project-info a {
    text-decoration: none;
    color: #0056b3;
    margin-right: 10px;
}

.project-info a:hover {
    text-decoration: underline;
}



/* Style the tab */
.tab {
  display: inline-flex;
  overflow: hidden;
  border: 1px solid #f5f5f5;
  background-color: #f5f5f5;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
  margin-right: 75px;
}

.tab button:last-child {
  margin-right: 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #d3ffd3;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #d3ffd3;
}

/* Style the tab content (hidden by default) */
.tabcontent {
  display: none;
  padding: 0;
  margin: 0;
  border: none;
  border-top: none;
}


.affiliation {
    background-color: #ffffff; /* White background for contrast */
    border-left: 5px solid #d3ffd3; /* Line on the left for visual */
    padding: 1em;
    margin-top: 1em;
    box-shadow: 0 2px 4px rgba(0,1,0,0); /* subtle shadow for depth */
}


.google-scholar-icon {
    width: 250px;     /* Adjust the width as needed */
    height: auto;     /* This will maintain the aspect ratio */
}